<div class="col-lg-4 p-2">
  <div class="card prod-card h-100"
    {{ if (index .Params "connector_type") }}
      data-connector='{{ index .Params "connector_type" }}'
    {{ else }}
      data-connector="none"
    {{ end }}
    data-slug="{{ .Params.slug }}"
  >
    <div class="card-body d-flex flex-column justify-content-start">
      <div class="d-flex mb-3 flex-shrink-1">
        {{ $link := .Permalink }}
        {{ range first 2 .Params.multimedia.images }}
          {{ $imageResource := resources.GetRemote . }}
          {{ $imgHash := path.BaseName ($imageResource | resources.Fingerprint "sha256") }}
          {{ $image := $imageResource | resources.Copy (printf "images/%s%s" $imgHash (path.Ext .)) }}
          {{ $image600 := $image.Fill "600x600 center" | resources.Copy (printf "images/%s-600%s" $imgHash (path.Ext .)) }}
          <div class="col-6 p-1">
            <a href="{{ $link }}"><img src="{{ $image600.RelPermalink }}" class="img-fluid" alt=""/></a>
          </div>
        {{ end }}
      </div>

      {{ if (strings.Contains .Title ":") }}
        {{ $parts := split .Title ":" }}
        {{ $title := index $parts 0 }}
        {{ $subtitle := index $parts 1 }}
        <h5 class="card-title fw-bolder card-title-smaller flex-shrink-1"><a href="{{.Permalink }}" class="text-dark">{{ $title }}</a></h5>
        <h5 class="card-subtitle fw-bolder text-uppercase flex-shrink-1"><a href="{{.Permalink }}" class="text-dark">{{ $subtitle }}</a></h5>
      {{ else if (or (strings.Contains .Title "Adapter") (strings.Contains .Title "Barrel")) }}
        <h5 class="card-title fw-bolder card-title-smaller flex-shrink-1"><a href="{{.Permalink }}" class="text-dark">Adapter</a></h5>
        <h5 class="card-subtitle fw-bolder text-uppercase flex-shrink-1"><a href="{{.Permalink }}" class="text-dark">
          {{ replace (replace .Title "Adapter" "") "Barrel" "" }}
        </a></h5>
      {{ else }}
        <h5 class="card-title fw-bolder card-title-smaller flex-shrink-1"><a href="{{.Permalink }}" class="text-dark">{{ .Title }}</a></h5>
      {{ end }}

      <div class="fw-light fs-6 py-3 prod-desc flex-grow-1">
        {{ .Summary }}
      </div>

      <div class="product-rew flex-shrink-1">
        <div class="starts">
          {{ range $index, $val:= .Params.rating }} {{ if eq $val "0.5" }}
          <i class="bi bi-star-half"></i>
          {{ else }}
          <i class="bi bi-star-fill"></i>
          {{ end }} {{ end }}
        </div>
        <div class="number flex-shrink-1">
          <a href="">{{ len .Params.reviews }} reviews</a>
        </div>
      </div>

      <div class="stock flex-shrink-1">
        <div style="margin-top: 2%">
          {{ if len .Params.discount_price }}
          <h3>${{ .Params.discount_price }}</h3>
          <s> ${{ .Params.price }} </s>
          {{ else }}
          <h3>${{ .Params.price }}</h3>
          {{ end }}
        </div>
      </div>

      <div class="pr-btn flex-shrink-1">
        {{ if .Params.hasVariants }}
          <a href="{{.Permalink }}" class="btn btn-ss-iris btn-lg"
            >Choose Options</a
          >
        {{ else }}{{ $sku := index .Params.variantSKUs 0 }}{{ $variant := index .Params.variants $sku }}
          <a href="{{.Permalink }}" class="btn btn-light btn-lg">Details</a>
          <a href="{{.Permalink }}"
            class="buy-button btn btn-secondary btn-lg"
            data-item-id="{{ $variant.id }}"
            data-item-sku="{{ $variant.sku }}"
            data-item-name="{{ $variant.name }}"
            >Add to Cart</a
          >
        {{ end }}
      </div>
    </div>
  </div>
</div>