<section class="shipping pb-3" id="inner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content-box">
          <div class="icon">
            <i class="fa-duotone fa-truck fa-2x text-primary"></i>
          </div>
          <div class="box">
            <h3>FREE shipping in the US on orders over $50.</h3>
            <p>
              Domestic shipping only; international shipping will be calculated
              during checkout. Heavier products such as the BNC Magnetic Mount
              or the Signal Staff OSJ excluded.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex">
        <div class="content-box">
          <div class="icon">
            <i class="fa-solid fa-shield-check fa-2x text-primary"></i>
          </div>
          <div class="box">
            <h3>If it breaks, we will fix it.</h3>
            <p>
              All Super-Elastic Signal Stick antennas are sold with a
              <strong>lifetime warranty.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>