
html {
  scroll-padding-top: 90px;
}

:root {
  --palette-white: #ffffff;
  --grey: #818f9b;
  --grey-lighter: #efefef;
  --grey-light: #d4d7d9;
  --grey-darkest: #2c3236;
  --grey-dark: #4a545e;
  --grey-lightest: #f7f7f7;
  --action: #6868bb;
  --action-light: #e9eaf5;
  --action-dark: #423b99;
  --brand-light: #eaf6e7;
  --brand: #73bf5c;
}

#cart-button {
  min-width: 7.5rem;
}

.footer .svg-inline--fa {
  color: $ss-grey-light;
}

.blog .blog-single-title img {
  max-width: 100%;
  width: 100%;
}

// Used by the gallery shortcode
div.gallery-sc { padding-top: 1rem; padding-bottom: 2rem; }
div.gallery-sc img { max-width: 30%; }

.imagetile {
  width: 33%;
}
.lightbox-carousel .imgcontainer {
  position: relative;
  max-width: calc(100vw - 40px);
  margin: 0 auto;
}
.flex-b0 { flex-basis: 0; }
.flex-b25 { flex-basis: 25%; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 3rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
.section-header p {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--action);
}

.section-bg {
  background-color: var(--grey-lightest) !important;
}

.section-header h2 {
  // margin: 10px 0 0 0;
  // padding: 10px;
  // font-family: "Source Sans 3", sans-serif;
  // font-size: 38px;
  // font-weight: bold;
  line-height: 1.21;
  letter-spacing: -0.85px;
  text-align: center;
  color: var(--grey-darkest);
}
.section-header h6 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: var(--grey-dark);
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.section-big-header h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -2.86px;
  text-align: center;
  color: var(--grey-darkest);
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background: var(--action);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
#back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
#back-to-top:hover {
  background: var(--action-dark);
  color: #fff;
}
#back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

nav.navbar { padding: 20px 0;
  .navbar-brand img { height: 40px; }
  min-height: 90px; // natural height is 89 and change, this makes it predictable for hero use
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  // 90px in the next two lines is to account for the navbar
  // height -- this starts the image / hero container just below it
  height: calc(100vh - 90px);
  background: url("/static/assets/img/bannerhome.jpg?width=1920&as=webp") center 90px no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  .btn-hero-action {
    @include button-variant(
      $background: $ss-brand,
      $border: $ss-brand,
      $color: $ss-palette-white,
      $hover-color: $ss-palette-white,
    )
  }
}
$sizes: 1920, 1370, 1030, 770, 580, 400;
$retinaSizes: 1540, 1096, 824;

.hero-newsletter h4 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--palette-white);
}

.hero-newsletter {
  padding: 10px 0;
}

.hero-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.hero-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: 100%;
}
.hero-newsletter form input[type="text"] {
  border: 0;
  padding: 8px;
  width: 100%;
}
.hero-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: var(--action);
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.hero-newsletter form input[type="submit"]:hover {
  background: var(--action-dark);
}
@media (max-height: 600px) {
  // overrides for phones in landscape mode
  .hero {
    h1 { font-size: 32px !important; margin: 1.5rem 0 !important}
    h2 { width: 85% !important; margin-bottom: 1rem !important; }
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# tools
--------------------------------------------------------------*/
.tools .box {
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.tools .box h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: var(--grey-dark);
}
.tools .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.tools .box:hover img {
  transform: scale(1);
}

.tools .ss-brand-logo {
  max-height: 45px;
  @extend .d-block; @extend .mx-auto; @extend .mb-2;
}

/*--------------------------------------------------------------
# shipping
--------------------------------------------------------------*/
.shipping {
  background-color: var(--brand-light);
}

.shipping .box {
  transition: 0.3s;
  height: 100%;
}
.shipping .content-box {
  display: flex;
  gap: 20px;
}

.shipping .box h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

.card-title-smaller {
  font-size: 90%;
}
.alert.alert-light {
  background-color: var(--grey-lightest);
  border: 0;
  color: var(--grey-dark);
  width: auto;
  margin: 0 auto;
}
/* 
.prod-desc { line-height: 22px; }
@media (min-width: 992px) {
  .prod-desc { min-height: 200px; }
} */
/* .prod-card { height: 100%; }
.prod-card .prod-desc { flex-grow: 3; }
*/

/*--------------------------------------------------------------
# product
--------------------------------------------------------------*/

// .product .product-rew {
//   display: flex;
//   gap: 15px;
// }
// .product .product-rew i {
//   color: var(--brand);
// }

// .product .product-rew .number a {
//   font-family: "Source Sans 3", sans-serif;
//   font-size: 16px;
//   font-weight: 600;
//   text-decoration: underline;
//   line-height: 1.38;
//   letter-spacing: -0.01px;
//   color: var(--action);
// }

// .product .stock p {
//   margin-bottom: 0px;
//   margin-top: 16px;
//   font-family: "Source Sans 3", sans-serif;
//   font-size: 18px;
//   line-height: 1.44;
//   color: var(--grey-dark);
// }

// .product .stock h3 {
//   font-family: "Source Sans 3", sans-serif;
//   font-size: 28px;
//   font-weight: bold;
//   line-height: 1.29;
//   letter-spacing: -0.45px;
//   color: var(--grey-darkest);
// }

//--------------------------------------------------------------
//# Feedback
//--------------------------------------------------------------
.feedback .box {
  display: flex;
  gap: 10px;
}
.feedback .box img {
  height: 22px;
  width: 22px;
}
.feedback .box p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--grey-dark);
}
.feedback .box p span {
  font-style: italic;
  font-weight: 600;
}
/*--------------------------------------------------------------
# hamapp
--------------------------------------------------------------*/
.hamapp {
  background-color: var(--grey-lighter);
}
.hamapp h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

.hamapp img {
  width: 200px;
}

.hamapp h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: -0.85px;
  color: var(--grey-darkest);
}

/*--------------------------------------------------------------
# hamapp
--------------------------------------------------------------*/
.about .about-row img {
  width: 40px;
  height: auto;
  margin-bottom: 16px;
}

.about .about-row h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: -0.02px;
  text-align: center;
  color: var(--grey-darkest);
}

.about .about-row p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--grey-dark);
}

.about .about-row .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------------------------------------------------------------
# questions
--------------------------------------------------------------*/
.questions .box {
  padding: 30px;
  transition: 0.3s;
  height: 100%;
}

.questions .box h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: var(--grey-dark);
}
.questions .box a {
  text-decoration: underline;
}
.questions .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.questions .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# blog page
--------------------------------------------------------------*/
.page-hero {
  background-color: var(--grey-lightest);
}

.page-hero h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.25px;
  text-align: center;
  color: var(--grey-darkest);
}

.blog {
  margin-bottom: 24px;
}
.blog .blog-post {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 24px;
}

.blog .blog-post .box-content h4 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.45px;
  color: var(--grey-darkest);
}

.blog .blog-post .box-content p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--grey-dark);
}

.blog .blog-post .box-content a {
  text-decoration: underline;
}
.blog .blog-post .box-content p span {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: var(--grey);
}

.blog .list-taxonomy h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

.blog .list-taxonomy ul {
  padding: 0px !important;
  list-style: none;
}
.blog .list-taxonomy ul li {
  list-style: none;
  text-decoration: underline;
  margin-top: 16px;
}
.blog .list-taxonomy ul li:last-child {
  display: none;
}
.blog h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}
.blog h3:last-child {
  display: none;
}

#searchResult {
  list-style: none !important;
  text-align: left !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 0px !important;
  padding: 0px !important;
}
#searchResult li {
  background-color: var(--palette-white);
  padding: 12px;
  margin-top: 2px;
}
#searchResult li a {
  color: var(--action-dark);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.product-rew .starts i {
  color: var(--brand) !important;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f7f7f7;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  border-top: 1px solid var(--grey-light);
}
.footer .footer-newsletter h4 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--grey-darkest);
}
.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}
.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: var(--action);
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.footer .footer-newsletter form input[type="submit"]:hover {
  background: var(--action-dark);
}
.footer .footer-top {
  background-color: #f7f7f7;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}
.footer .footer-top .footer-info {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Source Sans 3", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Source Sans 3", sans-serif;
}
.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #012970;
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2c3236;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #21247f;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}
.footer .footer-top .footer-contact p {
  line-height: 26px;
}
.footer .copyright {
  text-align: center;

  color: #012970;
}
.footer .fa-facebook {
  color: #316FF6;
  font-size: 26px;
}

.color-div{
  margin-bottom: 5%;
}

#paymentModal {
  margin-top: 15%;
}

#card-errors {
  margin-top: 5%;
}



.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#successModal .modal-header{
    border:0px;
}
.collection-div{
  margin-bottom: 4%;
}
.collection-section{
  margin-bottom: 10%;
}
.collection-title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-weight: bolder;
}
.collection-subtitle {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-weight: bolder;
}
.collection-part :nth-child(1 of .collection-title) {
  margin-top: 1rem !important;
}

#selectBoth, #customized-shop-text{
  margin-top: 2%;
  color: red;
  display: none;
}

.prod-name{
  display: none;
}

.submit-btn{
  background-color: #0275d8 !important;
  color: white !important;
  opacity: 1 !important;
}

.modal-body{
  text-align: center;
}

// .snipcart-layout__content--side{
//  margin-top: 17% !important; 
// }

// .snipcart-cart__secondary-header{
//   background-color: white !important;
// }

#acceptPaymentButton{
  display: none;
}
